<%= form_for(@crypt, url: root_path) do |f| %>
  <% if @crypt.errors.any? %>
    <%= show_errors(@crypt.errors.full_messages) %>
  <% end %>

  <%= f.label :text %>&nbsp;<span id="copied-success" style="color: green; text-align: center"></span>
  <%= f.text_area :text, class: "form-control", value: params[:text] %><br>

  <%= f.submit "Encrypt", class: "btn btn-primary form-control" %><br><br>

  <%= f.submit "Decrypt", class: "btn btn-primary form-control", name: 'decrypt' %><br><br>
<% end %>

<button id="copy-button" class="btn btn-primary form-control">Copy to Clipboard</button><br><br>