<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crypt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= show_flashes %>
      <%= yield %>
    </div>
  </body>
</html>
